@using System.Text.Json;
@using Moment2.Models;

@{
    string jsondata = System.IO.File.ReadAllText("media.json");
    var sidebarMedia = JsonSerializer.Deserialize<List<MediaModel>>(jsondata);

    @* Sorterar listan efter vilken som skapades senast *@
    sidebarMedia.Sort((x, y) => x.Date.CompareTo(y.Date));
    sidebarMedia.Reverse();

    @* Skapar listor för böcker och serier *@
    var sideBarBooks = new List<MediaModel> { };
    var sideBarSeries = new List<MediaModel> { };

    @* sorterar in de i olika listor *@
    @foreach (var Media in sidebarMedia)
    {
        Console.WriteLine("media: " + Media.MediaName);
        if (Media.MediaType == "Book")
        {
            sideBarBooks.Add(Media);
        }
        else
        {
            sideBarSeries.Add(Media);
        }
    }

}

<aside>
    <h2>Senaste tillagda:</h2>

    <h3>Böcker:</h3>
    @for (var i = 0; i < sideBarBooks.Count && i < 3; i++)
    {
        <article class="sidebar-article">
            <h4>@sideBarBooks[i].MediaName</h4>
            @* kollar om score är select *@
            <div class="sidebar-article-p">
                @if (sideBarBooks[i].MediaScore != "Select")
                {
                    <p>Score: @sideBarBooks[i].MediaScore</p>
                }
                else
                {
                    <p>Score: ?</p>
                }
                <p>Kapitel: @sideBarBooks[i].MediaEpisodesChapters</p>
                <p>Volymer: @sideBarBooks[i].MediaSeasonsVolumes</p>
            </div>
        </article>
    }

    <h3>Filmer:</h3>
    @for (var i = 0; i < sideBarSeries.Count && i < 3; i++)
    {
        <article class="sidebar-article">
            <h4>@sideBarSeries[i].MediaName</h4>
            <div class="sidebar-article-p">
                @if (sideBarSeries[i].MediaScore != "Select")
                {
                    <p>Score: @sideBarSeries[i].MediaScore</p>
                }
                else
                {
                    <p>Score: ?</p>
                }
                <p>Episoder: @sideBarSeries[i].MediaEpisodesChapters</p>
                <p>Säsonger: @sideBarSeries[i].MediaSeasonsVolumes</p>
            </div>
        </article>
    }
</aside>