@using System.Text.Json;
@using Moment2.Models;

@{
    string jsondata = System.IO.File.ReadAllText("media.json");
    var mediaList = JsonSerializer.Deserialize<List<MediaModel>>(jsondata);
}

<div class="content-sidebar">
    <div class="media-list">
        @foreach (var Media in mediaList)
        {
            <div>
                <h3>@Media.MediaName</h3>
                @* kollar om score är select *@
                @if (Media.MediaScore != "Select")
                {
                    <p>Score: @Media.MediaScore</p>
                }
                else
                {
                    <p>Score: ?</p>
                }
                <p>@Media.MediaEpisodesChapters</p>
                <p>@Media.MediaSeasonsVolumes</p>
                <p>@Media.MediaType</p>
                <ul>
                    @foreach (var Tag in @Media.MediaTags)
                    {
                        <li>
                            @Tag
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
    <partial name="_SidebarPartial" model="Model" />
    <div>
